body {
	font-family: "Lato","Helvetica Neue","Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	word-spacing: 0.08em;
	letter-spacing: 0.05em;
	color: #310217;
	font-size: 1.1em;
	/*background-color: #fef1fa;*/
	background: url("../papertexturedark.png") repeat scroll 0 0;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	float: left;
	border-right: 3px solid;
	border-color: #ffe1f7;
	/*background-color: #fff9fd;*/
	max-width: 30%;
	overflow: auto;

	background: url("../papertexture.png") repeat scroll 0 0;
}

h1 {
	line-height: 60%;
}

a {
	text-decoration: none;
	/*color: #990066;*/
	color: #800055;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

#selfPhoto {
	width: 75%;
	max-width: 500px;
	height: auto;
}

.bio {
	font-style: italic;
	line-height: 145%;
	letter-spacing: 0.04em;
}

.links {
	left: 0;
	right: 0;
	bottom: 10;
	/*padding-top: 20px;*/
	line-height: 170%;
	border-radius: 2px;
}

.modaldialogue {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.85);

	-webkit-transition: opacity 300ms ease-in, padding-top 300ms ease-in;
	-moz-transition: opacity 300ms ease-in, padding-top 300ms ease-in;
	transition: opacity 300ms ease-in, padding-top 300ms ease-in;
}

.modaldialogue:target {
	padding-top: 25px;
	opacity: 1;
	pointer-events: auto;
}

.modaltext {
	position: relative;
	border-radius: 3px;
	margin: 2% auto;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	background-color: white;
	width: 80%;
}

.modaltext > p {
	font-size: 1.0em;
	line-height: 150%;
	letter-spacing: 0.04em;
}

.close {
    line-height: 42px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 4px;
    width: 43px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8em;
}

.close:hover {
	text-decoration: none;
}

.cardsheet {
	position: relative;
	left: 30%;
	max-width: 70%; 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.portfolioHeader {
	top: 0;
	margin-bottom: 8px;
	line-height: 70%;
	width: 100%;
}

.subtext {
	font-style: italic;
}

.card {
	margin: 5%;
	margin-top: -1%;
	padding: 16px;
	padding-bottom: 1px;
	position: relative;
	max-width: 100%;
	background-color: white;
	-webkit-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);

}

.cardImage {
	width: 100%;
	max-width: 950px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.34);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.34);
}

.imglink {
	display: inline-block;
	transition: background-color 0.4s ease-out;
	height: 100%;
	padding: 5px;
	line-height: 0;
}

.imglink:hover {
	background-color: #ffe433;
	transition: none;
}

.hidden {
	display: none;
}