body {
	font-family: Lato,"Helvetica Neue","Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	color: #280213;
	font-size: 1.1em;
	background-color: #fef1fa;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	float: left;
	border-right: 2px solid;
	border-color: #b30077;
	background-color: #fff9fd;
	/*padding-right: 2em; */
	max-width: 33%;
}

#selfPhoto {
	width: 75%;
	height: auto;
}

.bio {
	font-style: italic;
	line-height: 145%;
}

.cardsheet {
	position: relative;
	left: 33%;
	max-width: 66%; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 2%;
	padding: 14px;
	position: relative;
	max-width: 100%;
	background-color: white;
	-webkit-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
}

.cardImage {
	max-width: 100%;
}