body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	font-size: 1.1em;
}

#sidebar {
	margin: 2em;
	float: left;
	border-right: 2px solid;
	padding-right: 1.5em;
	/*border-color: #012e65;*/
}

#bio {
	font-style: italic;
	line-height: 135%;
}